$bp-large: 68.75em;
$bp-ultrawide: 106.25em;

.shell {
  min-height: calc(100vh - 75px);
  display: grid;
  grid-template-columns: 3% 1fr 3%;
  gap: 1rem;

  @media only screen and (max-width: $bp-large) {
    grid-template-columns: 1fr;
    margin: 0 10%;
  }
}
