@use 'breakpoints' as bp;

.shell {
  min-height: calc(100vh - var(--sf-header-height));
  display: grid;
  grid-template-columns: 3% 1fr 3%;
  gap: 1rem;

  @include bp.bp-down('lg') {
    grid-template-columns: 1fr;
    margin: 0 10%;
  }
}
