/* You can add global styles to this file, and also import other style files */
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.elevation-classes();
@include mat.app-background();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$sick-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$sick-accent: mat.m2-define-palette(mat.$m2-green-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$sick-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$sick-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $sick-primary,
      accent: $sick-accent,
      warn: $sick-warn,
    ),
  )
);

$sick-dark-theme: mat.m2-define-dark-theme(
  (
    color: (
      primary: $sick-primary,
      accent: $sick-accent,
      warn: $sick-warn,
    ),
  )
);

.darkMode {
  @include mat.all-component-colors($sick-theme);
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($sick-dark-theme);

:root {
  --primary-color: #3365cc;
  --background-dark-color: #424242;
  --background-primary-color-active: #2b5cb6;
  --background-primary-color-active-light: #6494ed56;
  --background-error-color: #ff000028;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
  // font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

body {
  height: 100%;
  margin: 0;
  font-weight: 400;
  line-height: 1.6;

  min-height: 100vh;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

mat-sidenav-container {
  min-height: 100vh;
}

mat-sidenav-content,
mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 320px !important;
}

mat-paginator {
  width: 100%;
}

.logo {
  margin-top: 0.5rem;

  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  &-social {
    margin-top: auto;
    cursor: pointer;

    img {
      width: 45px;
      height: 45px;
    }
  }
}

.spacer {
  flex: 1 1 auto;
}

.no-content {
  background-color: var(--background-error-color);
  padding: 3rem 0;
  border-radius: 1rem;
  width: 60%;
  margin: 10% auto;

  text-align: center;
  // font-size: 1.5rem;
}

.mdc-list-item__content,
.mdc-list-item__primary-text {
  white-space: inherit !important;
}

.create-post-btn {
  text-align: center;
  margin: 1rem 0;
}
