:root {
  --primary-color: #3365cc;
  --background-dark-color: #424242;
  --background-primary-color-active: #2b5cb6;
  --background-primary-color-active-light: #6494ed56;
  --background-error-color: #ff000028;

  $bp-largest: 75em; // 1200px
  $bp-medium: 56.25em; // 900px
  $bp-small: 37.5em; // 600px
  $bp-smallest: 31.25em; // 500px
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

body {
  height: 100%;
  margin: 0;
  font-weight: 400;
  line-height: 1.6;

  min-height: 100vh;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

mat-sidenav-container {
  min-height: 100vh;
}

mat-sidenav-content,
mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 25rem;
}

.logo {
  margin-top: 0.5rem;

  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  &-social {
    margin-top: auto;
    cursor: pointer;

    img {
      width: 45px;
      height: 45px;
    }
  }
}

.spacer {
  flex: 1 1 auto;
}

.no-content {
  background-color: var(--background-error-color);
  padding: 3rem 0;
  border-radius: 1rem;
  width: 60%;
  margin: 10% auto;

  text-align: center;
  font-size: 1.5rem;
}

.mdc-list-item__content,
.mdc-list-item__primary-text {
  white-space: inherit !important;
}
