/**
* Generated theme by Material Theme Generator
* https://materialtheme.arcsine.dev
* Fork at: https://materialtheme.arcsine.dev/?c=YHBhbGV0dGU$YHByaW1hcnk$YF48IzMzNjVjYyIsIj9lcjwjYzJkMWYwIiwiO2VyPCMyMDQ5Yjl$LCIlPmBePCMxMjhjYmMiLCI~ZXI8I2I4ZGRlYiIsIjtlcjwjMGE2ZmE1fiwid2Fybj5gXjwjZmYwMDAwIiwiP2VyPCNmZmIzYjMiLCI7ZXI8I2ZmMDAwMH4sIj9UZXh0PCMwMDAwMDAiLCI~PTwjZmFmYWZhIiwiO1RleHQ8I2ZmZmZmZiIsIjs9PCMyYzJjMmN$LCJmb250cz5bYEA8KC00fixgQDwoLTN$LGBAPCgtMn4sYEA8KC0xfixgQDxoZWFkbGluZX4sYEA8dGl0bGV$LGBAPHN1YiktMn4sYEA8c3ViKS0xfixgQDxib2R5LTJ$LGBAPGJvZHktMX4sYEA8YnV0dG9ufixgQDxjYXB0aW9ufixgQDxpbnB1dCIsInNpemU$bnVsbH1dLCJpY29uczxGaWxsZWQiLCI~bmVzcz50cnVlLCJ2ZXJzaW9uPjEzfQ==
*/

@use '@angular/material' as mat;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@import './base/fonts';

// Foreground Elements
@import './base/colors';

// Theme Config
@import './base/config';

// Libs
@import './apps/sick-fansubs/shared/side-nav';
@import './apps/sick-fansubs/shared/header';
@import './apps/sick-fansubs/shared/footer';

@import './libs/shell.scss';

@import './libs/projects/feature/project-list';
@import './libs/projects/feature/project-detail';
@import './libs/projects/ui/project-item';

@import './libs/home/feature/post-list';
@import './libs/home/feature/post-detail';
@import './libs/home/ui/post-item';

@import './libs/rules/feature/rules';
@import './libs/about/feature/about';

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
}

body {
  font-family: 'Roboto';
  font-weight: 400;
  line-height: 1.6;

  min-height: 100vh;
}

mat-sidenav {
  overflow: unset !important;
}

mat-sidenav-container {
  min-height: 100%;
}

.logo {
  margin-top: 0.5rem;

  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  &-social {
    margin-top: auto;
    cursor: pointer;

    img {
      width: 45px;
      height: 45px;
    }
  }
}

.spacer {
  flex: 1 1 auto;
}
